.container {
  margin: 0 auto;
  width: min(80%, var(--page-max-width));
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;

  h3 {
    color: var(--color-text-dark);
    font-weight: 600;
  }

  $title-gap: 20px;

  .shipmentUpdates {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


}
