@import 'https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo, Arial, system-ui;
}

button {
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

:root {
  --color-main: #E30613;
  --color-warning: #E30613;
  --color-success: #3ec22c;
  --color-waiting: #f9bb05;
  --color-background-shade: #fafafa;
  --color-border-gray: #eeeeee;
  --color-text-main: #666e83;
  --color-text-dark: #252d48;
  --color-text-light: #a2acbf;

  --page-max-width: 900px;
}
