@use '/src/styles/media';

.container {
  height: 600px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 7px;

  display: flex;

  @include media.desktop {
    width: var(--page-max-width);
    height: 200px;
    flex-direction: column;
  }

  .shipmentInfo {
    width: 50%;
    height: 100%;
    padding: 50px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    $details-border: solid 2px var(--color-border-gray);

    border-right: $details-border;

    &:dir(rtl) {
      border-right: none;
      border-left: $details-border;
    }

    @include media.desktop {
      width: 100%;
      height: 50%;
      flex-direction: row;
      padding: 5px 30px;
      justify-content: space-between;
      border-right: none !important;
      border-left: none !important;
      border-bottom: $details-border;
    }

    .infoBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      @include media.desktop {
        align-items: start;
        gap: 0;
      }

      .title {
        color: var(--color-text-light);
        font-weight: 600;
        font-size: 0.92rem;
        text-align: center;
      }

      .data {
        font-size: 1.1rem;
        font-weight: 800;
        text-align: center;
        
        @include media.desktop {
          font-size: 1rem;
        }
      }
    }
  }
}
